@model PDIS.Models.Salary

@{
    ViewData["Title"] = "ViewSalarySlip";
}
<div class="text-center">
    <h1 class="display-4 font-text">Salary Slip of @Model.SalaryMonth @Model.SalaryYear</h1>
</div>
<hr /><div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8  mb-3">
        <div class="card shadow col-md-12">
            <div class="card-body">
                <p class="card-text"> Total Salary: $ @Model.TotalSalary</p>
                <p class="card-text">Salary Details:</p>
                <ul>
                    @foreach (var detail in Model.SalaryDetails)
                    {
                        <li>@detail.AllowanceName ($ @detail.Amount) </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
