@model PDIS.Models.Allowance

@{
    ViewData["Title"] = "Delete";
}

<div class="text-center">
    <h1 class="display-4 font-text">Delete Allowance Details</h1>
</div>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShortName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShortName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AllowanceName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AllowanceName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Percentage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Percentage) %
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="AllowanceID" />
        <button type="submit" class="btn btn-outline-dark"><i class="fa fa-trash"></i> Confirm Delete</button>
    </form>
</div>
